@import "tailwindcss";

@theme {
  --animate-blob: blob 7s infinite;
  --animate-delay-2000: 2s;
  --animate-delay-4000: 4s;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}